<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inzeraty</title>
</head>
<body>
<a href="/index">úvodní stránka</a>
<table>
    <tr>
        <th>ID</th>
        <th>Kategorie</th>
        <th>Cena</th>
        <th>Code</th>
        <th>Popis</th>
    </tr>
    <tr th:each="inzerat : ${kategorie}">
        <td th:text="${inzerat.getId()}"></td>
        <td th:text="${inzerat.getKategorie()}"></td>
        <td th:text="${inzerat.getCena()}"></td>
        <td><form method="post" action="/item">
            <input id="idd" name="idd" type="text">
            <input type="hidden" id="id" name="id" th:value="${inzerat.getId()}">
            <input type="submit">
        </form></td>
        <td th:text="${inzerat.getText()}"></td>
    </tr>
</table>
</body>
</html>