<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inzeraty</title>
</head>
<body>

<h1>Vytvořit inzerát</h1>

<form method="post" action="/vytvoritInzerat">
    <select id="cats" name="cats">
        <option value="Nákup">Nákup</option>
        <option value="Prodej">Prodej</option>
        <option value="Výměna">Výměna</option>
    </select>
    <input type="text" id="text" name="text" placeholder="Zadej text:">
    <input type="text" id="cena" name="cena" placeholder="Zadej cenu:">
    <input type="submit">
</form>

<h2>Zobrazení inzerátů</h2>
<form method="post" action="/category" >
    <select id="catss" name="catss">
        <option value="Nákup">Nákup</option>
        <option value="Prodej">Prodej</option>
        <option value="Výměna">Výměna</option>
    </select>
    <input type="submit">
</form>
    <table>
        <tr>
            <th>ID</th>
            <th>Kategorie</th>
            <th>Cena</th>
            <th>Code</th>
            <th>Popis</th>
        </tr>
        <tr th:each="inzerat : ${inzeraty.getInzeraty()}">
            <td th:text="${inzerat.getId()}"></td>
            <td th:text="${inzerat.getKategorie()}"></td>
            <td th:text="${inzerat.getCena()}"></td>
            <td><form method="post" action="/item">
                <input id="idd" name="idd" type="text">
                <input type="hidden" id="id" name="id" th:value="${inzerat.getId()}">
                <input type="submit">
            </form></td>
            <td th:text="${inzerat.getText()}"></td>
        </tr>
    </table>
</body>
</html>