<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inzeraty</title>
</head>
<body>
    Vygenerovaný kód pro úpravu/mazání: <b th:text="${kod}"></b> <br />
    <a href="/index">úvodní stránka</a>
</body>
</html>